.textbox {
    background-color: lightgrey;
    border-radius: 12px;
}
.textbox:focus{
    outline: none;
}

#submitbutton{
    border-radius: 12px;
    border-style: none;
    background-color: cyan;
    color: white;
}

#submitbutton:focus{
    outline: none;
}

#submitbutton:hover{
    background-color: turquoise;
}