body{
    background-image: url("../media/white-bg-2.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top: 0;
    min-height: 100vh;
    height: 100vh !important;  
}

/* Banner */
#banner {
    padding: 8em 0 6em 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-top: 150px;
}

#banner h1 {
    font-size: 4em;
    margin-bottom: .25em;
}

#banner p {
    color: black;
    font-size: 1.5em;
}

#banner:before {
    transition: opacity 3s ease;
    transition-delay: 1.25s;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

body.is-loading #banner:before {
    opacity: 1;
}

#buttons-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    margin: auto;
}

.home-button {
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
    width: 155px;
    height: 50px;
    padding: 17px;
    border: none;
    border-radius: 30px;
    margin: 0 10px 40px;
    color: #fff;
    font-weight: bold;
    flex: 0 0 auto;
    transition: all 0.3s ease;
    background: #CB4A46;
}

.home-button:hover {
  width: 160px;
  box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, .2);
}

#loginbutton {
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
    width: 10vw;
    height: 10vh;
    padding: 17px;
    border: none;
    border-radius: 30px;
    margin: 0 10px 40px;
    color: #fff;
    font-weight: bold;
    flex: 0 0 auto;
    transition: all 0.3s ease;
    background: #CB4A46;
    margin-top: 150px;
}