#join_button{
    border-radius: 12px;
    height: 20vh;
    width: 20vw;
    background-color: cyan;
    border-style: none;
    margin-left: 5vw;
}

#join_button:hover {
    border-radius: 12px;
    height: 20vh;
    width: 20vw;
    background-color: turquoise;
    border-style: none;
    margin-left: 5vw;
}

#create_button:focus{
    border-radius: 12px;
    height: 20vh;
    width: 20vw;
    background-color: turquoise;
    border-style: none;
    margin-right: 5vw;
    outline: none; 
}

#create_button{
    border-radius: 12px;
    height: 20vh;
    width: 20vw;
    background-color: greenyellow;
    border-style: none;
    margin-right: 5vw;
}

#create_button:hover{
    border-radius: 12px;
    height: 20vh;
    width: 20vw;
    background-color: lightgreen;
    border-style: none;
    margin-right: 5vw;
}

#create_button:focus{
    border-radius: 12px;
    height: 20vh;
    width: 20vw;
    background-color: lightgreen;
    border-style: none;
    margin-right: 5vw;
    outline: none; 
}

#button_row{
    margin-top: 30vh;
    margin-bottom: 30vw;
}
