<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Youtube Party</title>
    <link rel="stylesheet" href="../stylesheets/create-room-style.css">
    <script src="../scripts/home_script.js"></script>
  </head onload="authenticate('./create-room.html')">
<body>
	<nav class="navbar">
    	<div class="container">
        	<div class="logo">
            	<img src="../media/YT-logo.jpg">
            </div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="join-room.html">Join Room</a></li>
            </ul>
        </div>
    </nav>
    <div id="form-box">
      <h1>Create a new Youtube Party</h1>
      <form action="/create-room" method="POST">
        <label for="PlaylistUrl">PlayList URL:</label><br>
        <input aria-label="Url of Playlist" class="input-text" type="text" id="fname" name="PlaylistUrl"><br><br>
        <label for="Invitees">Add invitees(email addresses):</label><br>
        <input aria-label="List of Invitees" class="input-text" type="text" id="lname" name="Invitees"><br><br>
        <input id="form-submit-btn" type="submit" value="Submit">
      </form>
    </div>
</body>
</html>
