<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Youtube Party</title>
    <link rel="stylesheet" href="../stylesheets/home_style.css">
    <script src="./scripts/script.js"></script>
  </head>
  <body>
      <center>
        <h2>Welcome to Youtube Party!</h2>
        <div id="button_row"> 
          <a href="./views/create-room.html" style="text-decoration:none">  
            <button id="create_button">
                <span style="color:white;">Create a Party</span>
            </button>
          </a>
          <a href="./views/join-room.html" style="text-decoration:none">
            <button id="join_button">
                <span style="color:white;">Join a Party</span>
            </button>
          </a>
        <div>
      </center>
  </body>
</html> 
