<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Join Youtube Party Room</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/join-room-style.css">
    <script src"../scripts/home_script.js"></script>
  </head onload=authenticate()>
  <body>
    <div id="join-room-box">
      <form action="/join-room" method="GET">
        <h1>Input your private room link Below!</h1>
        <input type="text" name="roomId" id="form-text-box">
        <input type="submit" id="form-submit-btn"/>
      </form>
    </div>   
  </body>
</html>
