<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Join Youtube Party Room</title>
    <link rel="stylesheet" href="../stylesheets/join-room-style.css">
    <script src="../scripts/home_script.js"></script>
  </head>
  <body onload="authenticate('/join-room.html')">
    <div id="join-room-box">
      <form action="/private-room" method="GET">
        <h1>Input your private room link Below!</h1>
        <input aria-label="Room ID text box" type="text" name="roomId" id="form-text-box">
        <input aria-label="Submit Room ID" type="submit" id="form-submit-btn"/>
      </form>
    </div>   
  </body>
</html>
