<!DOCTYPE html>
<html>  
    <head>    
        <meta charset="UTF-8">    
        <title>Private Room</title>    
        <link rel="stylesheet" href="../stylesheets/private-room.css">  
    </head>  
    <script src="/scripts/private-room-script.js"></script>    
    <script src="/scripts/home_script.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body onload="loadPlayerDiv(); displayChat()">    
        <div id="player-div"></div>    
        <div class="chatContainer">    
            <div class="titleContainer">      
                <label>Chat</label>    
            </div>    
            <div class="msgContainer">        
                <ul id = "chat-messages" class="msgList">       
                </ul>
                <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>        
                <div class="submitChat">
                    <form action="/chat" id="myForm" method="POST" name="myForm" target="hiddenFrame">            
                        <input id="text-in" name="text-input" class="form-input" type="text" placeholder="Start typing..." />                    
                        <input class="subButton" type="submit" value="Send" onclick="submitForm()"/>  
                        <script>  
                            function submitForm() {
                                fetch(`/chat?roomId=${window.roomId}&userEmail=${window.localStorage.getItem("userEmail")}&text-input=${document.getElementById("text-in").value}`, {method: 'POST'})
                                console.log(document.getElementById("text-in").value);
                                console.log(document.getElementById("text-in").value);
                                document.getElementById("text-in").value = '';
                                displayChat();
                                return false;
                            }        
                        </script>       
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
